* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Lato;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.logo {
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.BRAND {
    width: 94px;
    height: 33px;
    margin: 12px 36.7px 6px 12.3px;
    font-size: 27px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: 0.68px;
    text-align: center;
    color: #222222;
  }
.BRAND::after {
    font-weight: 900;
    color: #f16d7f;
    content: 'D';
}

.heeader-left {
    display: flex;
    align-items: center;
    padding-top: 32px;
   
}
.found {
    display: flex;
    align-items: center;
    height: 38px;
}
.found-lupa {
    display: flex;
    align-items: center;
}
.header-right {
    display: flex;
    align-items: center;
    padding-top: 30px;
}
.search {
    width: 317px;
    padding: 9px 16px 10px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
}
.browse {
    height: 36px;
    width: 87px;
    padding: 9px 9px 10px 14px;
    border: none;
}
.browse::after {
    content: "\f0dd"; /* добавляем иконку */
    font-family: FontAwesome;
    color: #aaaaaa;
    margin-left: 8px; 
}
.browse:hover {
    color: #fff;
    background-color: #f16d7f; 
}


.lupa { 
    height: 36px;
    padding: 9px 10px 10px 13px;
    background-image:url(img/lupa.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    border: solid 1px #e6e6e6;
}
.basket {
    width: 32px;
    height: 29px;
    margin-right: 26px;
}
.account {
    height: 36px;
    width: 115px;
    padding-top: 25px;
    border: none;
    margin: 0 auto;
    padding: 4px 12px 10px 9px;
    padding-top: 10px;
}
.account::after {
    content: "\f0dd"; /* добавляем иконку */
    font-family: FontAwesome;
    color: #aaaaaa;
    margin-left: 8px; 
}
.account:hover {
  color: #fff;
  background-color: #f16d7f;
}

.line {
    width: 100%;
    border: solid 1px #ececec;
    background-color: #ffffff;
}

.menu {
    display: flex;
    justify-content: center;
}
.options {
    width: 756px;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}
.option {
    list-style-type: none; 
}
.link{
    text-decoration: none;
}
.link1 {
    width: 756px;
    height: 17px;
    font-size: 14px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
}

.denotement {
    width: 100%;
    height: 613px;
    margin-top: 19px;
    background-color: #e8e8e8;
}

.denotement-all {
    width: 1365px;
    height: 613px;  
    display: flex;
    align-items: center;
    background-image: url(img/Layer\ 24@1X.png);
}

.top {
   width: 520px;
   height: 92px;
   display: flex;
   
}
.rectangle {
    width: 12px;
    height: 100%;
    background-color: #f16d7f;
    margin-top: 15px;
}
.denotement-text {
    width: 485px;
    height: 92px;
    margin-left: 12px;
}

.text-style {
    font-size: 60px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1.5px;
    text-align: left;
    color: #222222;
    text-transform: uppercase;
    line-height: 1.2em;
  
}

.text-style-1 {
    font-size: 39px;
    letter-spacing: 1px;  
  
}

.text-style-1::after {
    content: ' FASHION';
    color: #f16d7f;
}

.offer {
    width: 100%;
    background-color:white;
}
.offer-flex {
    width: 1365px;
    padding-top: 98px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.product-text {
    color: #222222;
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    margin-left: 19px;
    margin-top: 16px;
}
.product-text1 {
    font-style: normal;
    letter-spacing: 0.45px;
    line-height: normal;
    margin-bottom: 0em;
}

.product-text2{
    color: #f16d7f;
    font-size: 30px;
    font-style: normal;
    letter-spacing: 0.75px;
    line-height: normal;
    margin-top: 0em;
    
}
.product1 {
    width: 560px;
    height: 542px;
    background-image: url(img/Layer_30.png);
   
}
.product2 {
    width: 560px;
    height: 261px;
    background-color: #dadad2;
    background-image: url(img/Layer_37.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 20px;
}
.product3 {
    width: 560px;
    height: 261px;  
    background-image: url(img/Layer_32.png);
}
.product4 {
    width: 560px;
    height: 542px; 
    background-image: url(img/Layer_31.png);
    margin-top: 20px;
}
.product-box {
    height: 82px;
    background-color: #ffffff;
    position: absolute;
    margin-top: 20px;
    padding: 19px 16px 19px 16px;
}
.box1 {
    width: 175px;
    
}
.box2 {
    width: 225px;
}
.box3 {
    width: 162px;
}
.box4 {
    width: 180px;
}